@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent #3b82f6 transparent transparent;
}
